@font-face {
    font-family: Semibold;
    src: url(../font/杨任东竹石体-Semibold.ttf);
}

.body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 930px;
    position: relative;
    top: 56px;
    font-family: Microsoft YaHei;
}
.row {
    margin: 0px -15px;
}
.row-left {
    padding: 30px 0 0 15px;
    width: 66.66666%;
    /* display: inline-block; */
    box-sizing: border-box;
    float: left;
}
.row-left-banner {
    margin-bottom: 30px;
    border-radius: 10px;
}

.banner-wrap{
    overflow: hidden;
    position: relative;
    white-space: nowrap;
}
.banner-img-wrap{ 
    z-index: 1;
    position: absolute;
}

.banner-image{
    display: inline-block;
}

.banner-btn{
    z-index: 2;
    width: 50px;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
}

.banner-btn-east{
    left: 0;
}

.banner-btn-east:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, .08);
}

.banner-btn-east-icon{
    width: 0; 
    height: 0;
    border-width: 15px;
    border-style: solid;
    border-color: transparent #FFFFFF transparent transparent;
}

.banner-btn-west{
    right: 0;
}

.banner-btn-west:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, .08);
}

.banner-btn-west-icon{
    width: 0; 
    height: 0;
    margin-left: 20px;
    border-width: 15px;
    border-style: solid;
    transform: rotate(180deg);
    border-color: transparent #FFFFFF transparent transparent;
}

.banner-img-wrap-animation{
    z-index: 1;
    position: absolute;
    transition: left .5s;
}