.row-right{
    padding: 30px 0 0;
    margin-left: 3.66666%;
    width: 29.16667%;
    /* display: inline-block; */
    float: left;
    background-color: antiquewhite;    
    box-sizing: border-box;
    vertical-align: top;
    height: 900px;
}