.style-mode{
    float: right;
    position: relative;
    top:0;
    right: 0;

}
.style-mode-btn{
    float: right;
    line-height: 20px;
    padding: 17px 10px;
    font-size: 24px;
    color: #969696;
    cursor: pointer;
}
.style-mode-btn-image{
    height: 24px;
}
.style-mode-container{
    visibility: hidden;
    width: 200px;
    opacity: 0;
    position: absolute;
    top: 42px;
    right: -22px;
    z-index: 1;
    padding: 20px 20px 20px 24px;
    min-width: 191px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,.1);
    filter: drop-shadow(0 0 8px rgba(0,0,0,.1));
    -webkit-filter: drop-shadow(0 0 8px rgba(0,0,0,.1));
}
.style-meta{
    padding-left: 4px;
    margin-right: 16px;
    font-size: 14px;
    color: #969696;
    line-height: 40px;
    vertical-align: middle;
    display: inline-block;
}
.style-meta img{
    width: 17px;
    height: 17px;
    position: relative;
    top: 2px;
    margin-right: 5px;
    font-size: 17px;
}
.style-meta span{
    vertical-align: middle;
}
nav .style-mode-container .switch {
    font-size: 0;
    letter-spacing: -4px;
}
.day-night-group {
    width: auto;
    vertical-align: middle;
    display: inline-block;
}
.switch-btn:first-child {
    padding: 10px 13px 10px 17px;
    border-radius: 20px 0 0 20px;
    border-right: none!important;
    cursor: pointer;
}
.switch-btn:last-child {
    padding: 10px 17px 10px 13px;
    border-radius: 0 20px 20px 0;
    border-left: none!important;
    cursor: pointer;
}
nav .style-mode-container .switch-btn {
    width: 35%;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0!important;
    color: #969696;
    border: 1px solid #e5e5e5;
    vertical-align: middle;
    display: inline-block;
}
.active {
    color: #fff!important;
    background-color: #6dacf4;
    border-color: #6dacf4!important;
    box-shadow: inset 0 0 6px rgba(0,0,0,.1);
}
nav .style-mode-container hr {
    margin: 20px -20px;
    border-color: #f0f0f0;
    border: 0;
    border-top: 1px solid #eee;
}
.font-family-group {
    margin-bottom: 10px;
}
.font-song {
    font-family: Georgia,Times New Roman,Times,Songti SC,serif;
}
.font-hei {
    font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}
.nav-trangle{
    position:absolute;
    width:0;
    height:0;
    border:10px solid transparent;
    border-bottom-color:white;  
    top:-20px;
    right:15%;
}