
    *{
        margin:0;
        padding:0；   
    }
    
    body{
        background: yellow;
    }
    .navbar{
        width: 100%;
        height: 55px;
        top: 0;
        position:fixed;
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 20px;
        font-family: Microsoft YaHei;
    }
    
    .width-limit{
        max-width: 1440px;
        min-width: 768px;
        height: 100%;
        margin: 0 auto;
        display: block;
    }
    
    .logo img{
        float: left;
        height: 100%;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 930px;
        height: 100%;
    }
    .container>.navbar-header{
        margin-right: 0;
        margin-left: 0;
        float: left;
    }
    
    .container>.navbar-header button{
        cursor: pointer;
        outline: none;
        float: left;
        padding: 11px 10px;
        margin-top: 9px;
        margin-bottom: 8px;
        margin-right: 15px;
        background-color: transparent;
        background-image: none;
        border: 1px solid #e7e7e7;           
        border-radius: 4px;
        position: relative;
    }
    .container>.navbar-header button:hover{
        background-color: rgba(221, 221, 221, 0.6);
    }
    .container>.navbar-header button .icon-bar{
        background-color: #888;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .container>.navbar-header button .icon-bar+.icon-bar{
        margin-top: 4px;
    }
    .container-collapse{           
        border-color: #e7e7e7;
        margin-right: -15px;
        max-height: 340px;
        overflow-y: auto;
        display: block;
        width: 100vw;
        border: none;
        margin-left: -15px!important;
        overflow-x: visible;
        padding-right: 15px;
        padding-left: 15px;
        box-shadow: inset 0 1px 0 hsla(0,0%,100%,.1);
    
}
    
    .container-collapse-nav{
        /* display: none; */
        visibility: hidden;
        background: #fff;
        margin: 0 -15px;
        height: 0;       
    }
    .container-collapse-nav-tab{
        border-bottom: 1px solid #f0f0f0;            
        margin-right: 15px;
        /* position: relative; */
        display: block;
        line-height: 20px;
        height: 56px;           
    }
    .container-collapse-nav div.tab{
        border-top: 1px solid #f0f0f0;
    }

    .container-collapse-nav-tab a{
        position: relative;
        display: block;
        color: #ea6f5a;
        background: none;
        /* height: 56px; */
        line-height: 26px;
        padding: 15px;
        text-align: center;
        text-decoration:none; 
    }
    .container-collapse-nav-tab a img{
        display: none;
    }
        
    .container-collapse-nav-search{
        padding-left: 15px;
        margin-right: 10px;
        height: 100%;
        float: left;
        display: block;
        line-height: 20px;
    }
    .container-collapse-nav-search-limit{
        position: relative;
        top: 9px;
        margin: 0 0 20px;
        height: 35px;
    }
    .container-collapse-nav-search-limit input{
        width: 100%;
        padding: 0 40px 0 20px;
        height: 38px;
        font-size: 14px;
        border: 1px solid #eee;
        border-radius: 40px;
        background: #eee;
        /* transition: width .3s linear;
        transition-delay: .1s; */
        outline: none;
    }
    .container-collapse-nav-search-limit-img{
        position: absolute;
        top: 4px;
        right: 5px;
        width: 30px;
        height: 30px!important;
        line-height: normal!important;
        padding: 0!important;
        color: #969696!important;
        text-align: center;
        margin-right: 0 !important;
        border-radius: 50%;
        background-color:transparent;        
    }
    
    .container-collapse-nav-search-limit .search-img{
        margin: 4px 0px 4px 0px;
        /* display: block; */
        height: 21px;           
    }
    #navbar-search-tips{
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,.2);
        margin-top: 12px;
        width: 250px;
        left: 0;
        top: 100%;
        /* display: none; */
        visibility: hidden;
        /* opacity: 0; */
        border-radius: 4px;
        border:1px solid white;
    }
    
    .trangle{
        position:absolute;
        width:0;
        height:0;
        border:12px solid transparent;
        border-bottom-color:white;  
        top:-24px;
        left:8%;
    }
        
    #navbar-search-tips .search-recent {
        padding: 5px;
        width: 240px;
        /* visibility: hidden; */

    }
    #navbar-search-tips .search-recent ul {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    #navbar-search-tips .search-recent ul li {
        margin-right: 0;
        border-radius: 4px;
    }
    #navbar-search-tips .search-recent ul li:hover {
        background-color: #eee;
    }
    #navbar-search-tips .search-recent ul li:hover >img{
        background-color: red;
    }
    /* .search-recent .search-recent-item-wrap li a {
        display: block;
        height: 40px;
        line-height: 20px;
        padding: 10px 15px;
        font-size: 14px;
        color: #333;
        position: relative;
    }
    .search-recent .search-recent-item-wrap li a .ic-search-history {
        float: left;
        margin-right: 10px;
        font-size: 18px;
        color: #787878;
    }
    .search-recent .search-recent-item-wrap li a span {
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        padding-right: 30px;
    }
    .search-recent .search-recent-item-wrap li a .ic-unfollow {
        position: absolute;
        right: 15px;
        top: 10px;
        color: #a0a0a0;
        
    } */
    .menu-text-download{
        color: #333333;
    }
    .download a:hover{
        background-color: #f5f5f5;
    }
    
    .btn{
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400px;
        text-align: center;
        vertical-align: middle;
        padding: 6px 12px;    
        border: 1px solid transparent;
        font-family: Microsoft YaHei;
        text-decoration:none; 
        
    }
    nav .btn-write{
        float: right;
        width: 74px;
        height: 26px;
        line-height: 24px;
        margin: 8px 12px 0;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        background-color: #ea6f5a;
    }
    nav .sign-up{
        float: right;
        width: 54px;
        height: 24px;
        line-height: 24px;
        margin: 9px 5px 0 15px;
        border: 1px solid rgba(236,97,73,.7);
        border-radius: 20px;
        font-size: 15px;
        color: #ea6f5a;
        background-color: transparent;
    }
    nav .sign-up:hover{
        background-color:#fef7f6
    }
    nav .log-in{
        float: right;
        margin: 11px 6px 0 10px;
        height: 30px;
        font-size: 15px;
        color: #969696;
    }
    .nav-beta{
        float: right;
        height: 25px;
        padding: 15px 0px;
        margin: 0 12px; 
    }
    .nav-beta-limit{
        width: 100%;
        height: 100%;
    }
    .nav-beta-limit-image{
        height: 25px;
        cursor: pointer;
    }
    .style-mode-btn{
        float: right;
        line-height: 20px;
        padding: 15px 10px;
        font-size: 24px;
        color: #969696;
    }
    .style-mode-btn-image{
        height: 24px;
    }
    .btn-write img{
        height: 20px;
        margin-right: 3px;
        font-size: 19px;
        vertical-align: middle;
    }
    .body{
        height: 900px;
        background-color: bisque;
        font-family: Microsoft YaHei;
    }
