
    *{
        margin:0;
        padding:0；

    }
    .navbar{
        width: 100%;
        height: 55px;
        top: 0;
        position:fixed;
        background-color: #fff;
        border-bottom: 1px solid #f0f0f0;
        margin-bottom: 20px;
        font-family: Microsoft YaHei;
    }
    .width-limit{
        max-width: 1440px;
        min-width: 768px;
        height: 100%;
        margin: 0 auto;
        display: block;
    }

    .logo img{
        float: left;
        height: 100%;
    }
    .container{
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        width: 930px;
        height: 100%;
    }
    .container>.navbar-header{
    display: none;
    }
    .container-collapse{
    height: 100%;
    width: 945px;
    margin-left: -15px;
    }
    .container-collapse-nav{
        float: left;
        margin: 0;
        height: 100%;
    }
    .container-collapse-nav-tab {
        margin-right: 10px;
        float: left;
        display: block;
        line-height: 20px;
    }

    .container-collapse-nav-tab-a{
        color: #ea6f5a;
        height: 25px;
        line-height: 20px;
        padding: 15px;
        position: relative;
        display: block;
        text-decoration:none; 
    }
    .container-collapse-nav-tab-a img{
        margin-right: 5px;
        display: inherit;
        float: left;
        height: 21px;
    }

    .container-collapse-nav-search{
        margin-right: 10px;
        float: left;
        display: block;
        line-height: 20px;
        padding-left: 15px;
        height: 100%;
    }
    .container-collapse-nav-search-limit{
        position: relative;
        top: 9px;
        height: 35px;
    }
    .container-collapse-nav-search-limit input{
        width: 240px;
        padding: 0 40px 0 20px;
        height: 38px;
        font-size: 14px;
        border: 1px solid #eee;
        border-radius: 40px;
        background: #eee;
        transition: width .3s linear;
        transition-delay: .1s;
        outline: none;
    }
    .container-collapse-nav-search-limit input:focus {
        width: 300px;   
    }
    .container-collapse-nav-search-limit-img{
        position: absolute;
        top: 4px;
        right: 5px;
        width: 30px;
        height: 30px!important;
        line-height: normal!important;
        padding: 0!important;
        color: #969696!important;
        text-align: center;
        margin-right: 0 !important;
        border-radius: 50%;
        background-color:transparent;
        /* float: right; */
    }

    .container-collapse-nav-search-limit .search-img{
        margin: 4px 0px 4px 0px;
        /* display: block; */
        height: 21px;  
            
    }
    #navbar-search-tips{
        position: absolute;
        background-color: #fff;
        box-shadow: 0 0 8px rgba(0,0,0,.2);
        margin-top: 12px;
        width: 250px;
        left: 0;
        top: 100%;
        /* display: none; */
        visibility: hidden;
        /* opacity: 0; */
        border-radius: 4px;
        border:1px solid white;
    }

    .trangle{
        position:absolute;
        width:0;
        height:0;
        border:12px solid transparent;
        border-bottom-color:white;  
        top:-24px;
        left:8%;
    }

    .search-recent {
        padding: 5px;
        width: 240px;
        /* visibility: hidden; */

    }
    .search-recent-item-wrap {
        list-style-type: none;
        margin: 0;
        padding-left: 0;
    }
    .search-recent-item-wrap div{
        margin-right: 0;
    }
    
    .search_history_list_item {
        margin-right: 0;
        border-radius: 4px;
        text-decoration:none;
        display: block;
        height: 20px;
        line-height: 20pxt;
        padding: 10px 15px;
        font-size: 14px;
        color: #333;
        position: relative;
    }
    .search_history_list_item:hover {
        background-color: #eee;
    }

    .search_history_list_item-left {
        float: left;
        margin:0 10px 0 0;
        height:19px;
        width:19px;
    }
    .search_history_list_item-middle {
        text-decoration:none; 
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: block;
        padding-right: 30px;
    }
    .search_history_list_item-right {
        height:10px;
        width:10px;
        position: absolute;
        right: 15px;
        top: 20px;
        color: #a0a0a0;
        visibility: hidden;
    }
    .search-recent-item-wrap div:hover .search_history_list_item-right{
        visibility: visible;
    } 
    .menu-text-download{
        color: #333333;
    }
    .download a:hover{
        background-color: #f5f5f5;
    }

    .btn{
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400px;
        text-align: center;
        vertical-align: middle;
        padding: 6px 12px;    
        border: 1px solid transparent;
        font-family: Microsoft YaHei;
        text-decoration:none; 
    }
    nav .btn-write{
        float: right;
        width: 74px;
        height: 26px;
        line-height: 24px;
        margin: 8px 12px 0;
        border-radius: 20px;
        font-size: 15px;
        color: #fff;
        background-color: #ea6f5a;
    }
    nav .sign-up{
        float: right;
        width: 54px;
        height: 24px;
        line-height: 24px;
        margin: 9px 5px 0 15px;
        border: 1px solid rgba(236,97,73,.7);
        border-radius: 20px;
        font-size: 15px;
        color: #ea6f5a;
        background-color: transparent;
    }
    nav .sign-up:hover{
        background-color:#fef7f6
    }
    nav .log-in{
        float: right;
        margin: 11px 6px 0 10px;
        height: 30px;
        font-size: 15px;
        color: #969696;
    }
    .nav-beta{
        float: right;
        height: 25px;
        padding: 15px 0px;
        margin: 0 12px;
    }
    .nav-beta-limit{
        width: 100%;
        height: 100%;
    }
    .nav-beta-limit-image{
        height: 25px;
        cursor: pointer;
    }
    .style-mode-btn{
        float: right;
        line-height: 20px;
        padding: 17px 10px;
        font-size: 24px;
        color: #969696;
    }
    .style-mode-btn-image{
        height: 24px;
    }
    .btn-write img{
        height: 20px;
        margin-right: 3px;
        font-size: 19px;
        vertical-align: middle;
    }
    .body{
        height: 900px;
        background-color: bisque;
        font-family: Microsoft YaHei;
    }
